.form, input {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.button {
    display: flex;
    justify-content: center;
}

.space {
    padding-bottom: 100rem;
}

body {
    overflow: hidden;
}