.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.rating a:hover,
.rating a:focus {
    color: orange;
    cursor: pointer;
}
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
}

.rating a {
    float: right;
} 

body{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: url(background.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
    font-family: Montagu Slab;
}

button {
    color: red;
}

button a:hover {
    color: gray;
}
.img{
    width: 4cm;
    height: 6cm;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.img1{
    display: flex;
    flex-direction: column;
}

