body{
    margin: 0,0,0,0;
    padding: 0,0,0,0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: url(../image/death-note-la-creation-de-kira-minimaliste-fond-d-ecran-1920x1080_48.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.note-top{
    background: url(../image/notepad-top-1100.png) no-repeat top center;
    height: 600px;
    margin: 0 auto;
    position: relative;
    margin-bottom: -303px;
    width: 1100px;
}
.note{
    display:flex;
    background: url(../image/notepad-middle-1100.png) repeat-y top center;
    width: 1100px;
    margin: auto;
    word-wrap: break-word;
}

.note-contenu{
    font-size: 18.5px ;
    display:flex;
    margin-top: -0.9em;
    padding-left: 82px;
    z-index: 1;
}