:root {
    font-size: 16px;
    font-family: Montagu Slab;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    scrollbar-width: thin;
    scrollbar-color: #6649b8 #1e1e24;
}

h1 {
    display: none;
}
h2{
    display: flex;
    font-size: 70px;
    font-family: 'DEATH-FONT';
}
h3 {
    padding: 1em;
    font-size: 1.5rem;
    border-top-style: solid;
    border-color: black;
    border-width: 0.10em;
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

body{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    color:black;
    font-family: Montagu Slab;
}

.note{
    display:flex;
    background: url(../image/notepad-middle-1100.png) repeat-y top center;
    width: 1100px;
    margin: auto;
    word-wrap: break-word;
    flex-direction: column;
}

.note-contenu{
    display:flex;
    margin-top: -0.9em;
    padding-left: 70px;
    padding-right: 30px;
    flex-direction: column;
}

perso {
    font-family: Cloister;
}

.gotopbtn {
    position: fixed;
    width: 140px;
    height : 140px;
    bottom: 40px;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gotopbtn svg {
    width : 100px;
    height: 100px;
}