.navbar {
    width: 5rem;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav{
    display:flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbar-item {
    width: 100%;
}

.navbar-item:last-child{
    margin-top:auto;
}

.nav-link {
    display:flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display:none;
    margin-left: 1rem;
    font-family: Death-Note-Font;
    font-size: 24px;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}



a {
    color:currentColor;
    text-decoration: none;
}



.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Death-Note-Font';
}

.line {
    border-bottom: 0.1rem solid white;
    padding-left: 4rem;
    padding-right: 4rem;
}

.dropdown svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
}