perso {
    font-family: Cloister;
}

.titre_personnages{
    display: flex;
    font-size: 35px;
    font-family: 'DEATH-FONT';
}

.personnages {
    display : flex;
    flex-direction: row;
    align-items: center;
}

.texte {
    margin: 2%;
}


img {
    width: 200px;
	height: auto;
}

.mello {
    display : flex;
    flex-direction: row;
    align-items: center;
}


.rem {
    display : flex;
    flex-direction: row;
    align-items: center;
}

.misa {
    display : flex;
    flex-direction: row;
    align-items: center;
}


.ryuk {
    display : flex;
    flex-direction: row;
    align-items: center;
}


.l {
    display : flex;
    flex-direction: row;
    align-items: center;
}


.light {
    display : flex;
    flex-direction: row;

    align-items: center;
}
