@media (max-width:1250px){
    .prod_anime{
        display: flex;
        flex-direction: column;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: black;
        border-width: 0.75em;
    }
    .txt_studio{
        display: flex;
        font-size: 20px;
        font-family: 'Montagu Slab', serif;
        border-top-style: solid;
        border-color: black;
        border-left-style: none;
        border-width: 0.10em;
        padding-top: 1em;
        padding-left: 0em;
    }
    .op1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .video1_op{
        display: flex;
        justify-content: center;
        margin: 1em;
    }
    .op2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .video2_op{
        display: flex;
        justify-content: center;
        margin: 1em;
    }
}

@media (max-width: 1150px) {
    body{
        background-color: #141418;
    }
    .prod_anime{
        display: flex;
        flex-direction: column;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: black;
        border-width: 0.75em;
        margin: 1em;
    }
    .txt_studio{
        display: flex;
        font-size: 20px;
        font-family: 'Montagu Slab', serif;
        border-top-style: solid;
        border-color: black;
        border-left-style: none;
        border-width: 0.10em;
        padding-top: 1em;
        padding-left: 0em;
    }
    .op1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .video1_op{
        display: flex;
        justify-content: center;
        margin: 1em;
    }
    .op2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .video2_op{
        display: flex;
        justify-content: center;
        margin: 1em;
    }
    .navbar {
        bottom: 0;
        width: 100%;
        height: 10rem;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link{
        justify-content: center;
        height: 10rem;
    }
    .note{
        margin-bottom: 10rem;
    }
    .nav-link svg {
        width: 5rem;
    }
    .dropdown {
        position: absolute;
        width: 20rem;
        opacity: 0;
        z-index: 2;
        background: var(--bg-primary);
        border-bottom: 2px solid white;
        color: var(--text-primary);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 20em;
        margin-top: -31rem;
        margin-left: -2rem;
        padding: 0.5rem;
        list-style-type: none;
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175rem 0.5rem;
        transform: translateX(-40%);
        transition: opacity .15s ease-out;
        transition: display .15s ease-out;
    }
    .dropdown-item a {
        font-size: 40px;
    }
    .has-dropdown:focus-within .dropdown {
        display:flex;
        opacity: 1;
        pointer-events: auto;
    }
    .gotopbtn {
        position: fixed;
        width: 50px;
        height : 50px;
        bottom: 200px;
        left: 50px;
    }
    .line {
        padding-left: 8rem;
        padding-right: 8rem;
    }
} 

@media (min-width: 1150px) {
    body{
        background: url(../image/death-note-la-creation-de-kira-minimaliste-fond-d-ecran-1920x1080_48.jpg) no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover{
        width: 20rem;
    }
    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
    .dropdown{
        position:absolute;
        width:10rem;
        opacity: 0;
        z-index: 2;
        background: var(--bg-primary);
        border-left: 2px solid white;
        color: var(--text-primary);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display:none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 10em;
        margin-top:-11rem;
        margin-left:24.4rem;
        padding:0.5rem;
        list-style-type:none;
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175rem 0.5rem;
        transform: translateX(-40%);
        transition: opacity .15s ease-out;
        transition: display .15s ease-out;
    }
    .navbar:hover .has-dropdown:focus-within .dropdown {
        display:flex;
        opacity: 1;
        pointer-events: auto;
    }
} 